<div class="background-cover">
  <link
    href="https://fonts.googleapis.com/css?family=Roboto:400,700"
    rel="stylesheet"
    type="text/css"
  />

  <div class="container">
    <hr class="hr" />
  </div>

  <div class="wrapper">
    <mdb-carousel [indicators]="true" [animation]="'fade'">
      <mdb-carousel-item>
        <!--  src="~/assets/images/full-screen-image-3.jpg" -->
        <img
          src="../assets/images/picv.jpeg"
          class="d-block w-100"
          alt="..."
          style="height: 430px; width: max-content"
        />
        <div class="carousel-caption d-none d-md-block"></div>
      </mdb-carousel-item>
      <mdb-carousel-item>
        <img
          src="../assets/images/picv2.jpeg"
          class="d-block w-100"
          alt="..."
          style="height: 430px; width: max-content"
        />
        <div class="carousel-caption d-none d-md-block"></div>
      </mdb-carousel-item>
      <mdb-carousel-item>
        <img
          src="../assets/images/pic7.jpeg"
          class="d-block w-100"
          alt="..."
          style="height: 430px; width: max-content"
        />
        <div class="carousel-caption d-none d-md-block"></div>
      </mdb-carousel-item>
      <mdb-carousel-item>
        <img
          src="../assets/images/pic4.jpeg"
          class="d-block w-100"
          alt="..."
          style="height: 430px; width: max-content"
        />
        <div class="carousel-caption d-none d-md-block"></div>
      </mdb-carousel-item>
    </mdb-carousel>
  </div>

  <section>
    <div class="wrapper">
      <div id="countdown" *ngIf="timeLeft$ | async as t; else sorry">
        <div class="cd-box">
          <p class="numbers days">{{ t.daysToDday }}</p>
          <br />
          <p class="strings timeRefDays">Days</p>
        </div>
        <div class="cd-box">
          <p class="numbers hours">{{ t.hoursToDday }}</p>
          <br />
          <p class="strings timeRefHours">Hours</p>
        </div>
        <div class="cd-box">
          <p class="numbers minutes">{{ t.minutesToDday }}</p>
          <br />
          <p class="strings timeRefMinutes">Minutes</p>
        </div>
        <div class="cd-box">
          <p class="numbers seconds">{{ t.secondsToDday }}</p>
          <br />
          <p class="strings timeRefSeconds">Seconds</p>
        </div>
      </div>
      <!-- end div#countdown -->

      <footer>
        <p class="text-end">Cyber Factory &copy; 2022</p>
      </footer>
    </div>
    <!-- end div.wrapper -->
  </section>
</div>

<ng-template #sorry> Sorry, something went wrong... </ng-template>
